<main class="bg-gray-50 flex flex-col">
  <section class="relative flex-grow flex flex-col items-center justify-center text-center px-4 py-12">
    <!-- Capa de fondo con opacidad -->
    <div class="absolute inset-0 bg-[url('/assets/banner.webp')] bg-cover bg-center opacity-80"></div>

    <!-- Contenido principal -->
    <div class="relative z-10 my-24 max-w-4xl mx-auto p-6 rounded-lg shadow-lg bg-white/60 backdrop-blur-md">
      <h1 class="text-4xl md:text-5xl font-bold text-blue-900 mb-4">
        Bienvenid&#64; a la plataforma de Ingeniería electrica
      </h1>
    </div>
  </section>
</main>
