<nav class="bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <!-- Logo o título -->
      <div class="flex items-center">
        <a routerLink="/inicio" class="text-2xl font-bold text-gray-900">IE</a>
      </div>

      <!-- Menú de escritorio -->
      <div class="hidden md:flex md:items-center">
        <a routerLink="/inicio" class="ml-4 text-lg text-gray-600 hover:bg-blue-300 hover:text-white font-bold py-2 px-4 rounded-xl transition duration-150 ease-in-out">Inicio</a>
        <a routerLink="/anuncios" class="ml-4 text-lg text-gray-600 hover:bg-blue-300 hover:text-white font-bold py-2 px-4 rounded-xl transition duration-150 ease-in-out">Anuncios</a>
        <a routerLink="/proyectos" class="ml-4 text-lg text-gray-600 hover:bg-blue-300 hover:text-white font-bold py-2 px-4 rounded-xl transition duration-150 ease-in-out">Proyectos</a>
        <a routerLink="/recursos" class="ml-4 text-lg text-gray-600 hover:bg-blue-300 hover:text-white font-bold py-2 px-4 rounded-xl transition duration-150 ease-in-out">Recursos</a>
        <a routerLink="/nuestro-programa" class="ml-4 text-lg text-gray-600 hover:bg-blue-300 hover:text-white font-bold py-2 px-4 rounded-xl transition duration-150 ease-in-out">Nuestro Programa</a>
        <a routerLink="/contacto" class="ml-4 text-lg text-gray-600 hover:bg-blue-300 hover:text-white font-bold py-2 px-4 rounded-xl transition duration-150 ease-in-out">Contacto</a>
      </div>

      <!-- Botón de menú móvil -->
      <div class="flex items-center md:hidden">
        <button (click)="toggleMenu()" type="button" class="text-gray-600 hover:text-gray-900 focus:outline-none">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <!-- Se muestra el ícono de hamburguesa o de cierre según el estado -->
            <ng-container *ngIf="!isOpen">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </ng-container>
            <ng-container *ngIf="isOpen">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </ng-container>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Menú móvil -->
  <div *ngIf="isOpen" class="md:hidden fixed inset-0 bg-white flex flex-col justify-center items-center z-50">
    <div class="space-y-6">
      <a routerLink="/inicio" (click)="toggleMenu()" class="block text-gray-600 hover:text-gray-900 text-2xl text-center">Inicio</a>
      <a routerLink="/anuncios" (click)="toggleMenu()" class="block text-gray-600 hover:text-gray-900 text-2xl text-center">Anuncios</a>
      <a routerLink="/proyectos" (click)="toggleMenu()" class="block text-gray-600 hover:text-gray-900 text-2xl text-center">Proyectos</a>
      <a routerLink="/recursos" (click)="toggleMenu()" class="block text-gray-600 hover:text-gray-900 text-2xl text-center">Recursos</a>
      <a routerLink="/nuestro-programa" (click)="toggleMenu()" class="block text-gray-600 hover:text-gray-900 text-2xl text-center">Nuestro Programa</a>
      <a routerLink="/contacto" (click)="toggleMenu()" class="block text-gray-600 hover:text-gray-900 text-2xl text-center">Contacto</a>
    </div>
    <div class="flex items-center md:hidden mt-5">
      <button (click)="toggleMenu()" type="button" class="text-gray-600 hover:text-gray-900 focus:outline-none">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <!-- Se muestra el ícono de hamburguesa o de cierre según el estado -->
          <ng-container *ngIf="!isOpen">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </ng-container>
          <ng-container *ngIf="isOpen">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </ng-container>
        </svg>
      </button>
    </div>
  </div>
</nav>
