<article class="flex flex-col items-center justify-center p-8 bg-gray-50 rounded-3xl ">
  <div class="w-2/5">
    <div class="mb-6 text-center">
      <h1 class="text-4xl md:text-5xl font-extrabold text-gray-800">
        Summer Internships
      </h1>
    </div>
    <div class="mb-8">
      <p class="text-lg text-center text-gray-600 leading-relaxed">
        Participar en un summer internship es crucial porque brinda experiencia práctica en el campo profesional, permite desarrollar habilidades clave, y ofrece la oportunidad de establecer contactos valiosos en la industria. Además, puede ser un diferenciador importante en el mercado laboral.
      </p>
    </div>
    <div class="flex flex-row justify-evenly">
      <a href="https://docs.google.com/spreadsheets/d/1FGo00533-7ZOVPN6uTXPaKjSC73PvAbMniKseA4Qpn4/edit?usp=sharing">
        <button class="cursor-pointer px-6 py-3 bg-blue-500 text-white text-lg font-semibold rounded-lg shadow hover:bg-blue-600 transition duration-150 ease-in-out focus:outline-none">
          Ver summer internships
        </button>
      </a>
      <a href="https://forms.gle/bYQzzGe4RNUKMAYx7">
        <button class="cursor-pointer px-6 py-3 border-2 border-blue-600 text-black text-lg font-semibold rounded-lg shadow hover:bg-blue-200 transition duration-150 ease-in-out focus:outline-none">
          ¿Conoces otra oportunidad?
        </button>
      </a>
    </div>
  </div>

</article>
